[alias]
  l = log
  s = status
  sh = stash
  d = diff
  dc = diff --cached
  a = add
  aa = add -u
  ap = add --patch
  r = reset
  rh = reset --hard
  b = branch
  c = commit
  ca = commit -a
  cm = commit -m
  cam = commit -am
  cp = cherry-pick
  u = checkout --
  amend = commit --amend --reuse-message=HEAD
  pl = pull
  ph = push
  # Switch to a branch, creating it if necessary
  go = "!f() { git checkout -b \"$1\" 2> /dev/null || git checkout \"$1\"; }; f"
[core]
	editor = vim
  eol = lf
  autocrlf = input
  whitespace = cr-at-eol
  untrackedCache = true
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
  prompt = false
[include]
  path = .gitconfig.user
[help]
  autocorrect = 1
