[core]
	editor = vim
	autocrlf = input
  whitespace = cr-at-eol
[push]
	default = simple
[diff]
	tool = vimdiff
[difftool]
  prompt = false
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[include]
  path = .gitconfig.user
