let mapleader = " "
map <leader> <Plug>(easymotion-prefix)
map <leader>f <Plug>(easymotion-fl)
map <leader>F <Plug>(easymotion-Fl)
map <leader>t <Plug>(easymotion-tl)
map <leader>T <Plug>(easymotion-Tl)
map s <Plug>(easymotion-s2)
nnoremap <C-o> :action Back<CR>
nnoremap <C-t> :action Back<CR>

set ignorecase
set smartcase
set incsearch
set surround
set scrolloff=3
set easymotion
set commentary
set multiple-cursors
set ideajoin
set number
set relativenumber
