let mapleader = " "
nmap <leader>w :w<cr>
nmap <leader>x :x<cr>
nmap <leader>q :q<cr>
nmap <leader>e :e<cr>
nmap <leader>j :action RecentFiles<cr>
nmap <leader>f :action GotoFile<cr>
nmap <leader>t :action GotoSymbol<cr>

set ignorecase
set smartcase
set hlsearch
set incsearch
set surround
set scrolloff=3
